@import '../../../styles/variables.css';

.form {
	background: var(--color-form);
	width: 24rem;
	min-height: 20rem;
	border-radius: var(--border-radius-default);
	padding: 2.8rem;
}

.form__title {
	text-align: center;
	margin-top: 2.7rem;
	margin-bottom: 5.4rem;
}

.form__field {
	margin-bottom: 2.9rem;
}

.form__button {
	width: 100%;
}

.form__bottom-text {
	font-family: var(--font);
	color: var(--color-dark);
	margin: 5rem 0;
	text-align: center;
	font-size: 0.9rem;
}
