@import '../../../styles/variables.css';

.title {
	margin: 0;
	font-family: var(--font-title);
	font-weight: bold;
}

/*
** Size
*/
.small {
	font-size: 2rem;
}

.medium {
	font-size: 3rem;
	letter-spacing: 0.03rem;
}

.large {
	font-size: 4rem;
	letter-spacing: 0.06rem;
}

/*
** Theme
*/
.black {
	color: #000000;
}

.white {
	color: var(--color-font-light);
}

.light {
	color: var(--color-light);
}

.dark {
	color: var(--color-dark);
}
