@import './variables.css';

.link {
	display: inline-block;
	color: var(--color-light);
	cursor: pointer;
	transition: all 250ms ease-out;
}

.link:hover {
	transform: translateY(-3px);
	color: var(--color-dark);
}
