@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Roboto:400,700&display=swap');

:root {
	/* Fonts */
	--font-title: 'Nunito', sans-serif;
	--font: 'Roboto', sans-serif;
	/* Colors */
	--color-light: #96bbe0;
	--color-dark: #32174d;
	--color-font-light: #f5f5f5;
	--color-disabled: #d1c4c4;
	--color-form: #fff0f5dc;

	/* Paddings */
	--input-padding: 0.4rem;

	/* Sizes */
	--button-font-size: 0.9rem;
	--input-font-size: 1rem;
	--border-size: 2px;
	--border-radius-default: 5px;
	--border-radius: 10px;
	--field-size: calc(var(--input-font-size) + var(--input-padding) * 2.5);
}
