@import '../../../styles/variables.css';

.input {
	font-family: var(--font-title);
	background: transparent;
	border: none;
	outline: none;
	box-shadow: none;
	font-size: var(--input-font-size);
	padding: var(--input-padding);
	transition: all 300ms ease;
}

/*
* Theme
*/
.default {
	color: var(--color-dark);
}

.light {
	border: var(--border-size) solid var(--color-light);
	border-radius: var(--border-radius-default);
	color: var(--color-light);
}

.dark {
	border: var(--border-size) solid var(--color-dark);
	border-radius: var(--border-radius-default);
	color: var(--color-dark);
}

.focus {
	filter: brightness(0.7);
}
