@import '../../../styles/variables.css';

.burger {
	cursor: pointer;
}

.burger__line {
	width: 25px;
	height: 3px;
	background-color: var(--color-light);
	margin: 5px;
	transition: all 300ms ease;
}

.burger__cross .burger__line:nth-child(1) {
	transform: rotate(-45deg) translate(-5px, 6px);
}

.burger__cross .burger__line:nth-child(2) {
	opacity: 0;
}

.burger__cross .burger__line:nth-child(3) {
	transform: rotate(45deg) translate(-5px, -6px);
}
