* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
}

body {
	-webkit-font-smoothing: antialiased;
	min-height: 100vh;
	background: linear-gradient(120deg, #96bbe0de, #32174dd8),
		url('./road.jpg') center/cover no-repeat border-box;
}
